body{
    margin: 0px;

}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(6, 17, 53);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgba(23, 50, 140, 0.386)
}

.navbar li{
    float: left;
}